@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #f0f0f0;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  list-style: none;

  display: flex;
  gap: 10px;
}

nav ul li :hover {
  color: #b6a8a8;
}

.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galeria h2,
.demonstracao h2,
footer h2 {
  padding: 20px;
}

.obras {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.obras img {
  width: 500px;
  height: 500px;
}

.demonstracao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #333;
  color: #f0f0f0;
  padding-bottom: 50px;
  margin-top: 20px;
}

.contato p:hover {
  color: #b6a8a8;
}
