* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heveltica", sans-serif;
  background-color: #f4f4f4;
  color: #333;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #dadada;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(61, 61, 61, 0.7);
  width: 90%;
  max-width: 380px;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

form {
  display: flex;
  gap: 0.5rem;
}

#input-item {
  flex: 1;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #3333331e;
  color: #333;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #929394;
  color: #ececec;
  transition: background-color 0.2 ease;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: left;
  padding: 0.75rem;
  border-bottom: 1px solid #444;
}

li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.03);
}

.reset {
  background-color: #929394;
  width: 100%;
  margin-top: 0.5rem;
}

.reset:hover,
button:hover {
  background-color: #808080;
}
