@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --color-background: #161e27;
  --color-text: #f4f4f4;
  --color-primary: #465e7c;
  --color-secondary: #b4b4b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "IBM Plex Mono", monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  background-color: var(--color-primary);
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;

  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  font-size: 1.1em;
  display: block;
}

nav a:hover {
  color: var(--color-link-hover);
}

nav.closebtn {
  position: absolute;
  top: 0;
}

main {
  padding: 0 6vw;
}

header {
  display: flex;
  justify-content: flex-end;
}

header img {
  width: 3em;
  height: 3em;
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-links {
  margin-top: 0.7em;
}
.about-links a {
  border: solid 1.5px var(--color-text);
  padding: 10px;
  border-radius: 10px;
}
.about-links a:hover {
  background-color: var(--color-primary);
}
.about img {
  width: 40px;
  height: 40px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 15px;
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.skills-list ul {
  list-style: none;
  padding: 0.7em;
  background-color: var(--color-secondary);
  width: 100%;
  border-radius: 0.4em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.skills-list ul li img:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: 0.2s;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.card {
  background-color: var(--color-secondary);
  max-width: 25rem;
  min-height: 20rem;
  border-radius: 10px;
  box-shadow: 1em 1.5em 1em #0c1118;
}

.card span {
  background-color: var(--color-primary);
  color: #f4f4f4;
  padding: 6px;
  border-radius: 0.7em;
}

.card-info {
  color: var(--color-background);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card-info a {
  font-weight: 700;
}

.btn-repositories {
  padding: 1.2em;
  border: solid 1.5px var(--color-text);
  border-radius: 0.7em;
}
.btn-repositories:hover {
  background-color: var(--color-primary);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0 1vh 0;
  font-size: 0.8rem;
  font-weight: 300;
}
